<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blakebarrett.snse">

    <uses-permission
            android:name="android.permission.USE_BIOMETRIC"
            android:required="false"/>
    <uses-permission
            android:name="android.permission.USE_FINGERPRINT"
            android:required="false"/>

    <uses-permission
            android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="aia-compat-api-min-version"
                android:value="1"/>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="blakebarrett.com"
                        android:pathPattern="/snse/new/.*"
                        android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SentimentListActivity"
                android:label="@string/title_sentiment_list"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.blakebarrett.snse.MainActivity"/>
        </activity>
        <activity
                android:name=".SentimentDetailActivity"
                android:label="@string/title_sentiment_detail"
                android:parentActivityName=".SentimentListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.blakebarrett.snse.SentimentListActivity"/>
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/action_settings"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.blakebarrett.snse.MainActivity"/>
        </activity>

        <receiver
                android:name=".utils.NotificationsBroadcastReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".utils.NotificationService"
                android:enabled="true">
        </service>
    </application>

</manifest>